{% extends "base.html" %}

{% block login %}

    <form action="/login" method="POST"> {% csrf_token %}
    {%  for field in auth_form %}
    {{ field }}
    {% endfor %}
<input type="submit" id="btnLogIn" value="Log In">
</form>

{% endblock %}


    {% block content %}
    {% if auth_form.non_field_errors or user_form.non_field %}
<div class=" flash error "   >

    {{ non_form.non_field_error }}
    {{ user_form.non_field_error }}

</div>

{% endif %}


<img src="{{ STATIC_URL }}gfx/frog.jpg">
 <div class="panal right">
    <h1> New to Ribbit?? </h1>
    <p>
        <form action="/signup" method="POST"> {% csrf_token %}
        {% for field in user_form %}
        {{ field }}
        {% endfor %}

        </form>
    </p>
 </div>
{% endblock %}



<!--
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>

-->